<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Phi</key>
		<integer>0</integer>
		<key>Psi</key>
		<integer>0</integer>
		<key>T</key>
		<integer>-100</integer>
		<key>T.smcp</key>
		<integer>-100</integer>
		<key>U</key>
		<integer>0</integer>
		<key>U.smcp</key>
		<integer>0</integer>
		<key>Uhorn</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>V.smcp</key>
		<integer>-100</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>Y.smcp</key>
		<integer>-100</integer>
		<key>lambda</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>question</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>t</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>-100</integer>
		<key>u</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0427</key>
		<integer>-100</integer>
		<key>uni042C</key>
		<integer>-100</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>-100</integer>
		<key>uni0447</key>
		<integer>-100</integer>
		<key>uni04A1</key>
		<integer>-100</integer>
		<key>uni04B8</key>
		<integer>-200</integer>
		<key>uni04B9</key>
		<integer>-100</integer>
		<key>uni04BC</key>
		<integer>-100</integer>
		<key>uni04BD</key>
		<integer>0</integer>
		<key>uni04D8</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>-100</integer>
		<key>uni0506</key>
		<integer>-100</integer>
		<key>uni050E</key>
		<integer>-200</integer>
		<key>uni050F</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-100</integer>
		<key>w</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>A.smcp</key>
	<dict>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>T.smcp</key>
		<integer>-100</integer>
		<key>U.smcp</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>-100</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>-100</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni046A</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>braceright</key>
		<integer>0</integer>
		<key>bracketright</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>0</integer>
		<key>uni04BD</key>
		<integer>0</integer>
	</dict>
	<key>D.smcp</key>
	<dict>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>W.smcp</key>
		<integer>0</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-200</integer>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>-300</integer>
		<key>T</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-200</integer>
		<key>r</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>Gamma</key>
	<dict>
		<key>A</key>
		<integer>-200</integer>
		<key>AE</key>
		<integer>-300</integer>
		<key>O</key>
		<integer>-100</integer>
		<key>Phi</key>
		<integer>-200</integer>
		<key>S</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>W</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-200</integer>
		<key>ae</key>
		<integer>-200</integer>
		<key>c</key>
		<integer>-200</integer>
		<key>chi.alt</key>
		<integer>-200</integer>
		<key>delta</key>
		<integer>-100</integer>
		<key>epsilon</key>
		<integer>-200</integer>
		<key>guillemotleft</key>
		<integer>-600</integer>
		<key>guillemotright</key>
		<integer>-400</integer>
		<key>hyphen</key>
		<integer>-400</integer>
		<key>iota</key>
		<integer>-300</integer>
		<key>n</key>
		<integer>-200</integer>
		<key>o</key>
		<integer>-200</integer>
		<key>omega</key>
		<integer>-300</integer>
		<key>oslash</key>
		<integer>-200</integer>
		<key>period</key>
		<integer>-400</integer>
		<key>phi</key>
		<integer>-300</integer>
		<key>pi</key>
		<integer>-200</integer>
		<key>psi</key>
		<integer>-300</integer>
		<key>r</key>
		<integer>-100</integer>
		<key>rho</key>
		<integer>-300</integer>
		<key>s</key>
		<integer>-200</integer>
		<key>tau</key>
		<integer>-200</integer>
		<key>u</key>
		<integer>-200</integer>
		<key>uni0414</key>
		<integer>-200</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni0431</key>
		<integer>-100</integer>
		<key>uni0432</key>
		<integer>-200</integer>
		<key>uni0434</key>
		<integer>-300</integer>
		<key>uni0437</key>
		<integer>-200</integer>
		<key>uni043B</key>
		<integer>-200</integer>
		<key>uni0442</key>
		<integer>-200</integer>
		<key>uni0447</key>
		<integer>-200</integer>
		<key>uni044B</key>
		<integer>-200</integer>
		<key>uni044D</key>
		<integer>-200</integer>
		<key>uni044F</key>
		<integer>-200</integer>
		<key>uni045F</key>
		<integer>-200</integer>
		<key>uni0461</key>
		<integer>-200</integer>
		<key>uni047B</key>
		<integer>-200</integer>
		<key>uni047F</key>
		<integer>-100</integer>
		<key>uni048F</key>
		<integer>-200</integer>
		<key>uni0491</key>
		<integer>-200</integer>
		<key>uni049D</key>
		<integer>-200</integer>
		<key>uni04A1</key>
		<integer>-200</integer>
		<key>uni04A7</key>
		<integer>-200</integer>
		<key>uni04B9</key>
		<integer>-200</integer>
		<key>uni04BC</key>
		<integer>-200</integer>
		<key>uni04BD</key>
		<integer>-300</integer>
		<key>uni04D8</key>
		<integer>-100</integer>
		<key>uni0500</key>
		<integer>-300</integer>
		<key>uni0505</key>
		<integer>-200</integer>
		<key>uni0507</key>
		<integer>-200</integer>
		<key>uni050B</key>
		<integer>-200</integer>
		<key>uni050E</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>-200</integer>
		<key>uni0510</key>
		<integer>0</integer>
		<key>v</key>
		<integer>-100</integer>
		<key>w</key>
		<integer>-100</integer>
		<key>x</key>
		<integer>-200</integer>
		<key>z</key>
		<integer>-100</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0427</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni04B8</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni04BC</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Phi</key>
		<integer>-100</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>hyphen</key>
		<integer>-100</integer>
		<key>n</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>-100</integer>
		<key>u</key>
		<integer>0</integer>
		<key>uni0431</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>-100</integer>
		<key>uni0447</key>
		<integer>-100</integer>
		<key>uni0461</key>
		<integer>-100</integer>
		<key>uni047B</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>-100</integer>
		<key>uni04A1</key>
		<integer>-100</integer>
		<key>uni04B9</key>
		<integer>-100</integer>
		<key>uni04D8</key>
		<integer>0</integer>
		<key>uni0505</key>
		<integer>-100</integer>
		<key>uni0507</key>
		<integer>-100</integer>
		<key>uni050F</key>
		<integer>-100</integer>
		<key>uni0510</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>w</key>
		<integer>-100</integer>
	</dict>
	<key>K.smcp</key>
	<dict>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>A.smcp</key>
		<integer>0</integer>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O</key>
		<integer>-100</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>T</key>
		<integer>-300</integer>
		<key>T.smcp</key>
		<integer>-200</integer>
		<key>U</key>
		<integer>-100</integer>
		<key>U.smcp</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-200</integer>
		<key>V.smcp</key>
		<integer>-200</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>W.smcp</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-200</integer>
		<key>Y.smcp</key>
		<integer>-200</integer>
		<key>quotesingle</key>
		<integer>-300</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>-100</integer>
		<key>w</key>
		<integer>-100</integer>
	</dict>
	<key>L.smcp</key>
	<dict>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>T.smcp</key>
		<integer>-100</integer>
		<key>U.smcp</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>-100</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>-100</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>A.smcp</key>
		<integer>0</integer>
		<key>AE</key>
		<integer>0</integer>
		<key>Sigma</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>X.smcp</key>
		<integer>0</integer>
		<key>Xi</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>Z</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
	</dict>
	<key>O.smcp</key>
	<dict>
		<key>T.smcp</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>X.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>0</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>AE</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>-200</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Z</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>delta</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-300</integer>
		<key>rho</key>
		<integer>0</integer>
		<key>t</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>-100</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni0434</key>
		<integer>-100</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0500</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>Phi</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
	</dict>
	<key>Psi</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-200</integer>
		<key>rho</key>
		<integer>0</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A.smcp</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>W</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>Q.smcp</key>
	<dict>
		<key>T.smcp</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>0</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>R.smcp</key>
	<dict>
		<key>T.smcp</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>0</integer>
	</dict>
	<key>Sigma</key>
	<dict>
		<key>O</key>
		<integer>0</integer>
		<key>Phi</key>
		<integer>-100</integer>
		<key>lambda</key>
		<integer>0</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>AE</key>
		<integer>-200</integer>
		<key>C.smcp</key>
		<integer>-100</integer>
		<key>G.smcp</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>-200</integer>
		<key>O</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>-100</integer>
		<key>Phi</key>
		<integer>-100</integer>
		<key>Q.smcp</key>
		<integer>-100</integer>
		<key>S</key>
		<integer>0</integer>
		<key>S.smcp</key>
		<integer>-100</integer>
		<key>T</key>
		<integer>0</integer>
		<key>T.smcp</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>W</key>
		<integer>0</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>X.smcp</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-100</integer>
		<key>ae</key>
		<integer>-100</integer>
		<key>c</key>
		<integer>-100</integer>
		<key>chi.alt</key>
		<integer>-100</integer>
		<key>delta</key>
		<integer>-100</integer>
		<key>epsilon</key>
		<integer>-100</integer>
		<key>guillemotleft</key>
		<integer>-300</integer>
		<key>guillemotright</key>
		<integer>-200</integer>
		<key>hyphen</key>
		<integer>-200</integer>
		<key>iota</key>
		<integer>-200</integer>
		<key>n</key>
		<integer>-100</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>omega</key>
		<integer>-200</integer>
		<key>oslash</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-200</integer>
		<key>phi</key>
		<integer>-200</integer>
		<key>pi</key>
		<integer>-100</integer>
		<key>psi</key>
		<integer>-100</integer>
		<key>r</key>
		<integer>-100</integer>
		<key>rho</key>
		<integer>-200</integer>
		<key>s</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>-100</integer>
		<key>u</key>
		<integer>-100</integer>
		<key>uni0414</key>
		<integer>-100</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni0431</key>
		<integer>0</integer>
		<key>uni0432</key>
		<integer>-100</integer>
		<key>uni0434</key>
		<integer>-100</integer>
		<key>uni0437</key>
		<integer>-100</integer>
		<key>uni043B</key>
		<integer>-100</integer>
		<key>uni0442</key>
		<integer>-100</integer>
		<key>uni0447</key>
		<integer>-100</integer>
		<key>uni044B</key>
		<integer>-100</integer>
		<key>uni044D</key>
		<integer>-100</integer>
		<key>uni044F</key>
		<integer>-100</integer>
		<key>uni045F</key>
		<integer>-100</integer>
		<key>uni0461</key>
		<integer>-100</integer>
		<key>uni047B</key>
		<integer>-100</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni048F</key>
		<integer>-100</integer>
		<key>uni0491</key>
		<integer>-100</integer>
		<key>uni049D</key>
		<integer>-100</integer>
		<key>uni04A1</key>
		<integer>-100</integer>
		<key>uni04A7</key>
		<integer>-100</integer>
		<key>uni04B9</key>
		<integer>-100</integer>
		<key>uni04BC</key>
		<integer>-100</integer>
		<key>uni04BD</key>
		<integer>-100</integer>
		<key>uni04D8</key>
		<integer>0</integer>
		<key>uni0500</key>
		<integer>-100</integer>
		<key>uni0505</key>
		<integer>-100</integer>
		<key>uni0507</key>
		<integer>-100</integer>
		<key>uni050B</key>
		<integer>-100</integer>
		<key>uni050E</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>-100</integer>
		<key>uni0510</key>
		<integer>0</integer>
		<key>v</key>
		<integer>-100</integer>
		<key>w</key>
		<integer>-100</integer>
		<key>x</key>
		<integer>-100</integer>
		<key>z</key>
		<integer>-100</integer>
	</dict>
	<key>T.smcp</key>
	<dict>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>0</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>A.smcp</key>
		<integer>0</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
		<key>braceright</key>
		<integer>0</integer>
		<key>bracketright</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>hyphen</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-200</integer>
		<key>r</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
		<key>braceright</key>
		<integer>0</integer>
		<key>bracketright</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>hyphen</key>
		<integer>-100</integer>
		<key>o</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>r</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Phi</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>delta</key>
		<integer>0</integer>
		<key>hyphen</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>omega</key>
		<integer>0</integer>
		<key>phi</key>
		<integer>0</integer>
		<key>psi</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>theta</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0431</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni04BC</key>
		<integer>0</integer>
		<key>uni04BD</key>
		<integer>-100</integer>
		<key>uni04D8</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>uni0510</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>Xi</key>
	<dict>
		<key>O</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>AE</key>
		<integer>-100</integer>
		<key>C.smcp</key>
		<integer>-100</integer>
		<key>G.smcp</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>-100</integer>
		<key>O</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>-100</integer>
		<key>Phi</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>-100</integer>
		<key>S</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>T.smcp</key>
		<integer>0</integer>
		<key>U</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>0</integer>
		<key>W</key>
		<integer>0</integer>
		<key>W.smcp</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>X.smcp</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-100</integer>
		<key>ae</key>
		<integer>-100</integer>
		<key>ampersand</key>
		<integer>0</integer>
		<key>asterisk</key>
		<integer>0</integer>
		<key>beta</key>
		<integer>0</integer>
		<key>braceright</key>
		<integer>0</integer>
		<key>bracketright</key>
		<integer>0</integer>
		<key>bullet</key>
		<integer>0</integer>
		<key>c</key>
		<integer>-100</integer>
		<key>chi.alt</key>
		<integer>0</integer>
		<key>delta</key>
		<integer>0</integer>
		<key>epsilon</key>
		<integer>-100</integer>
		<key>f</key>
		<integer>0</integer>
		<key>guillemotleft</key>
		<integer>-100</integer>
		<key>guillemotright</key>
		<integer>-100</integer>
		<key>hyphen</key>
		<integer>-100</integer>
		<key>iota</key>
		<integer>0</integer>
		<key>n</key>
		<integer>0</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>omega</key>
		<integer>-100</integer>
		<key>oslash</key>
		<integer>-100</integer>
		<key>parenright</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-200</integer>
		<key>phi</key>
		<integer>-100</integer>
		<key>pi</key>
		<integer>0</integer>
		<key>psi</key>
		<integer>0</integer>
		<key>r</key>
		<integer>0</integer>
		<key>rho</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-100</integer>
		<key>t</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>theta</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
		<key>zeta</key>
		<integer>0</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>A.smcp</key>
		<integer>0</integer>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Phi</key>
		<integer>-100</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>psi</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0461</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni0505</key>
		<integer>0</integer>
		<key>uni0507</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>alpha</key>
	<dict>
		<key>lambda</key>
		<integer>0</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>chi.alt</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>-100</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>J</key>
		<integer>0</integer>
		<key>U</key>
		<integer>0</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>J</key>
		<integer>0</integer>
		<key>U</key>
		<integer>0</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>quotesingle</key>
		<integer>0</integer>
	</dict>
	<key>chi.alt</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>chi.alt</key>
		<integer>0</integer>
		<key>delta</key>
		<integer>0</integer>
		<key>epsilon</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>omega</key>
		<integer>0</integer>
		<key>phi</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>0</integer>
	</dict>
	<key>delta</key>
	<dict>
		<key>chi.alt</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>-100</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>quoteright</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>braceright</key>
		<integer>0</integer>
		<key>bracketright</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>0</integer>
	</dict>
	<key>iota</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
		<key>phi</key>
		<integer>0</integer>
		<key>pi</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>-100</integer>
		<key>theta</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
	</dict>
	<key>lambda</key>
	<dict>
		<key>chi.alt</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
		<key>pi</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>tau</key>
		<integer>-200</integer>
		<key>theta</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>-100</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>quoteright</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>uni0442</key>
		<integer>-100</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>chi.alt</key>
		<integer>0</integer>
		<key>quoteright</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>-100</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0461</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni0505</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>omega</key>
	<dict>
		<key>v</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>V</key>
		<integer>0</integer>
		<key>W</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>quotesingle</key>
		<integer>-200</integer>
	</dict>
	<key>phi</key>
	<dict>
		<key>chi.alt</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>-100</integer>
		<key>x</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>psi</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>l</key>
		<integer>0</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-100</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>a</key>
		<integer>-100</integer>
		<key>c</key>
		<integer>-100</integer>
		<key>n</key>
		<integer>0</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-100</integer>
		<key>w</key>
		<integer>0</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>t</key>
		<integer>100</integer>
		<key>v</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
	</dict>
	<key>rho</key>
	<dict>
		<key>uni0442</key>
		<integer>-100</integer>
	</dict>
	<key>schwa</key>
	<dict>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>sigma</key>
	<dict>
		<key>tau</key>
		<integer>0</integer>
	</dict>
	<key>sigma1</key>
	<dict>
		<key>uni0442</key>
		<integer>0</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>slash</key>
		<integer>-200</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>o</key>
		<integer>0</integer>
	</dict>
	<key>tau</key>
	<dict>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>S.smcp</key>
		<integer>0</integer>
		<key>T.smcp</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>delta</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>pi</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>uni0402</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>n</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni0427</key>
		<integer>0</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>-100</integer>
		<key>uni0461</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>-100</integer>
		<key>uni04B8</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0505</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>uni040B</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>uni042C</key>
		<integer>-100</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0461</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni04BC</key>
		<integer>0</integer>
		<key>uni0505</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>uni0411</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni0427</key>
		<integer>0</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>-100</integer>
		<key>uni04B8</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>uni0414</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0427</key>
		<integer>0</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni04B8</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni04BD</key>
		<integer>0</integer>
		<key>uni04D8</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
		<key>uni0510</key>
		<integer>0</integer>
	</dict>
	<key>uni0417</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>seven</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
	</dict>
	<key>uni0423</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>O</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-100</integer>
		<key>c</key>
		<integer>-100</integer>
		<key>hyphen</key>
		<integer>-100</integer>
		<key>n</key>
		<integer>-100</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-400</integer>
		<key>s</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>-100</integer>
		<key>uni041B</key>
		<integer>-100</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni0432</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>-100</integer>
		<key>uni0437</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>-100</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni044B</key>
		<integer>0</integer>
		<key>uni044F</key>
		<integer>0</integer>
		<key>uni045F</key>
		<integer>0</integer>
		<key>uni047B</key>
		<integer>-100</integer>
		<key>uni048F</key>
		<integer>0</integer>
		<key>uni0491</key>
		<integer>0</integer>
		<key>uni049D</key>
		<integer>0</integer>
		<key>uni04A7</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni04BD</key>
		<integer>0</integer>
		<key>uni0500</key>
		<integer>-100</integer>
		<key>uni050B</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
	</dict>
	<key>uni0429</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni0427</key>
		<integer>0</integer>
		<key>uni042C</key>
		<integer>0</integer>
		<key>uni042D</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni04B8</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
	</dict>
	<key>uni042C</key>
	<dict>
		<key>T</key>
		<integer>-300</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni0427</key>
		<integer>0</integer>
		<key>uni042C</key>
		<integer>-100</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>-100</integer>
		<key>uni04B8</key>
		<integer>0</integer>
		<key>uni04BC</key>
		<integer>0</integer>
		<key>uni0504</key>
		<integer>0</integer>
		<key>uni0506</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>-100</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>x</key>
		<integer>-100</integer>
	</dict>
	<key>uni042D</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni050E</key>
		<integer>0</integer>
	</dict>
	<key>uni042E</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>X</key>
		<integer>0</integer>
		<key>uni0414</key>
		<integer>0</integer>
		<key>uni041B</key>
		<integer>0</integer>
		<key>uni0423</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
	</dict>
	<key>uni042F</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>uni0431</key>
	<dict>
		<key>n</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0461</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>uni0432</key>
	<dict>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0461</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>uni0433</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>-100</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni047B</key>
		<integer>0</integer>
	</dict>
	<key>uni0434</key>
	<dict>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni044A</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
	</dict>
	<key>uni0437</key>
	<dict>
		<key>quotesingle</key>
		<integer>0</integer>
	</dict>
	<key>uni043A</key>
	<dict>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>uni047B</key>
		<integer>0</integer>
	</dict>
	<key>uni0442</key>
	<dict>
		<key>A.smcp</key>
		<integer>-100</integer>
		<key>C.smcp</key>
		<integer>0</integer>
		<key>G.smcp</key>
		<integer>0</integer>
		<key>O.smcp</key>
		<integer>0</integer>
		<key>Q.smcp</key>
		<integer>0</integer>
		<key>S.smcp</key>
		<integer>0</integer>
		<key>T.smcp</key>
		<integer>0</integer>
		<key>V.smcp</key>
		<integer>0</integer>
		<key>Y.smcp</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
		<key>c</key>
		<integer>-100</integer>
		<key>delta</key>
		<integer>-100</integer>
		<key>f</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>phi</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>rho</key>
		<integer>-100</integer>
		<key>sigma1</key>
		<integer>-100</integer>
		<key>uni0434</key>
		<integer>-100</integer>
		<key>uni043B</key>
		<integer>-100</integer>
		<key>uni047B</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni0505</key>
		<integer>0</integer>
		<key>uni0507</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>uni0446</key>
	<dict>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni044F</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
	</dict>
	<key>uni0449</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>100</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni0442</key>
		<integer>0</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>0</integer>
		<key>uni04B9</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>0</integer>
	</dict>
	<key>uni044C</key>
	<dict>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>uni0442</key>
		<integer>-100</integer>
		<key>uni0447</key>
		<integer>0</integer>
		<key>uni0461</key>
		<integer>0</integer>
		<key>uni047F</key>
		<integer>0</integer>
		<key>uni04A1</key>
		<integer>-200</integer>
		<key>uni04B9</key>
		<integer>-100</integer>
		<key>uni0505</key>
		<integer>0</integer>
		<key>uni0507</key>
		<integer>0</integer>
		<key>uni050F</key>
		<integer>-200</integer>
		<key>v</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>uni044E</key>
	<dict>
		<key>uni0434</key>
		<integer>0</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>uni0454</key>
	<dict>
		<key>quotesingle</key>
		<integer>0</integer>
	</dict>
	<key>uni0481</key>
	<dict>
		<key>quotesingle</key>
		<integer>0</integer>
	</dict>
	<key>upsilon</key>
	<dict>
		<key>uni0442</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>delta</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>pi</key>
		<integer>0</integer>
		<key>quotesingle</key>
		<integer>0</integer>
		<key>rho</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>uni0434</key>
		<integer>-100</integer>
		<key>uni043B</key>
		<integer>0</integer>
		<key>uni047B</key>
		<integer>0</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>uni047B</key>
		<integer>0</integer>
	</dict>
	<key>xi</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>lambda</key>
		<integer>0</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
	</dict>
	<key>zeta</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>delta</key>
		<integer>0</integer>
		<key>epsilon</key>
		<integer>0</integer>
		<key>iota</key>
		<integer>0</integer>
		<key>n</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>omega</key>
		<integer>0</integer>
		<key>phi</key>
		<integer>-100</integer>
		<key>pi</key>
		<integer>0</integer>
		<key>psi</key>
		<integer>0</integer>
		<key>tau</key>
		<integer>0</integer>
		<key>theta</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>xi</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
